img {
    width: 30%;
    margin: 1.2%
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    margin-left: calc(10%/6);
    padding: 10px;
    font-family: Roboto;
    font-weight: bold;
}